################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BlazorPlayground/FileContentIndex/17f48c16-44f6-4d51-b03b-c04dadee7c89.vsidx
/.vs/BlazorPlayground/FileContentIndex/6a4c0fcb-5967-4f3f-9787-fb2e363ced72.vsidx
/.vs/BlazorPlayground/FileContentIndex/72a0f02b-7058-495b-9d45-f615cae955b7.vsidx
/.vs/BlazorPlayground/FileContentIndex/7859471d-3dd3-4180-a515-892cf8290321.vsidx
