@page "/"


<div class="flex flex-col justify-center items-center h-screen">
    <h1 class="text-4xl text-white font-extrabold drop-shadow-md mb-16">Cloud Printr</h1>

    <div>
        <div class="my-4">
            <button class="w-72 bg-blue-500 hover:bg-blue-700 text-white font-bold py-4 px-8 rounded transform transition-transform hover:scale-110" @onclick="NavigateToCreateReceipt">
               <i class="fa-sharp fa-solid fa-pen-to-square" style="color: #ffffff;"></i> Create Receipt
            </button>
        </div>

        <div class="my-4">
            @if (!showSearchBar)
            {
                <button class="w-72 bg-green-500 hover:bg-green-700 text-white font-bold py-4 px-8 rounded transform transition-transform hover:scale-110" @onclick="ToggleSearchBar">
                    <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i> Search Receipt
                </button>
            }
            else
            {
                <input class="w-72 bg-green-300 border border-green-400 p-4 rounded text-center font-bold placeholder-white" placeholder="Search Receipt" @onblur="ToggleSearchBar" />
            }
        </div>

        <div class="my-4">
            <button class="w-72 bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-4 px-8 rounded transform transition-transform hover:scale-110" @onclick="NavigateToPrintReceipt">
                <i class="fa-solid fa-print" style="color: #ffffff;"></i> Print Receipt
            </button>
        </div>

        <div class="my-4">
            <button class="w-72 bg-red-500 hover:bg-red-700 text-white font-bold py-4 px-8 rounded transform transition-transform hover:scale-110" @onclick="ShowConfirmationDialog">
                <i class="fa-solid fa-circle-xmark" style="color: #ffffff;"></i> Close
            </button>
        </div>
    </div>
</div>

@code {

    //Create Receipt
    private void NavigateToCreateReceipt()
    {
        Navigation.NavigateTo("/createReceipt");
    }

    //Search Receipt
    private bool showSearchBar = false;

    private void ToggleSearchBar()
    {
        showSearchBar = !showSearchBar;
    }

    //Print Receipt
    private void NavigateToPrintReceipt()
    {
        Navigation.NavigateTo("/printReceipt");
    }

    //Close program
    private async Task ShowConfirmationDialog()
    {
        var confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to close the app?");

        if (confirmed)
        {
            Navigation.NavigateTo("/close");
        }

    }
}