@page "/"


<div class="flex justify-center items-center space-x-4 mt-6">
    <NavLink href="create" class="bg-gray-800 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded">
        CREATE
    </NavLink>
    <NavLink href="read" class="bg-gray-800 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded">
        READ
    </NavLink>
    <NavLink href="update" class="bg-gray-800 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded">
        UPDATE
    </NavLink>
    <NavLink href="delete" class="bg-gray-800 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded">
        DELETE
    </NavLink>
    <NavLink href="receipts" class="bg-gray-800 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded">
        Cuncurret cuncurring culminating Receipts
    </NavLink>
    <NavLink href="fun" class="bg-gray-800 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded">
        FUN PLACE
    </NavLink>
</div>



<div class="flex justify-center items-center space-x-4 mt-6">
    <!-- CRUD Actions -->
    <div class="flex space-x-4">
        <NavLink href="create" class="...">CREATE</NavLink>
        <NavLink href="read" class="...">READ</NavLink>
        <NavLink href="update" class="...">UPDATE</NavLink>
        <NavLink href="delete" class="...">DELETE</NavLink>
    </div>

    <!-- Other Actions -->
    <div class="flex space-x-4">
        <NavLink href="receipts" class="...">Receipts</NavLink>
        <NavLink href="fun" class="...">FUN PLACE</NavLink>
    </div>
</div>
